streamlit~=1.46.1
sqlalchemy~=2.0.41
alembic~=1.16.4
python-dotenv~=1.1.1
bcrypt~=4.3.0
wheel==0.45.1
networkx~=3.4.2
spacy~=3.8.2
scikit-learn~=1.7.0
openai~=1.93.0
python-dotenv~=1.1.0
pandas~=2.2.3
requests~=2.32.4
neo4j~=5.28.1
matplotlib~=3.10.3
pgmpy>=0.1.18,<0.2
numpy
pandas
streamlit
